body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}


#select1 {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    margin: 10px 0px;
}

#select1:hover {
    background-color: #f9f9f9;
}
  
#select1.input-cb {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#select2 {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    margin: 10px 0px;
}

#select2:hover {
    background-color: #f9f9f9;
}
  
#select2.input-cb {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.input-number {
    outline: none;
    border: #00a00d solid 1px; 
}

.title-name {
    font-weight: 600;
    margin-bottom: -8px;
    display: block;
    color: #005707;
}

.content1 {
    display: flex ;
    flex-direction: row;
}

#btnnhan {
    margin-bottom: 25px;
    width: 280px;
    font-weight: 500;
    height: 50px;
    font-size: 15px;
    background-color: #007bff;
}

#btnnhan:hover {
    background-color: #0056b3;
}

#btnchia {
    width: 280px;
    margin-bottom: 25px;
    border: #00a00d solid 1px; 
    font-weight: 500;
    height: 50px;
    font-size: 15px;
    background-color: #00ca11;
}

#btnchia:hover {
    background-color: #00a00d;
}

#btncong {
    width: 280px;
    border: #b30000 solid 1px; 
    font-weight: 500;
    background-color: #da0000;
    height: 50px;
    font-size: 15px;
    margin-bottom: 25px;
}

#btncong:hover {
    background-color: #b30000;
}

#btntru {
    width: 280px;
    border: #bdc000 solid 1px; 
    font-weight: 500;
    background-color: #e3e700; 
    margin-bottom: 25px;
    height: 50px;
    font-size: 15px;
    color: #000000;
}

#btntru:hover {
    background-color: #bdc000;
}

#btnrandom {
    width: 280px;
    border: #d67200 solid 1px;     
    font-weight: 500;
    background-color: #f58300;
    height: 50px;
    font-size: 15px;
    margin-bottom: 25px;
}

#btnrandom:hover {
    background-color: #d67200;
}

#btnclear {
    width: 280px;
    border: #a8a8a8 solid 1px; 
    font-weight: 500;
    background-color: #c4c4c4;
    margin-bottom: 25px;
    height: 50px;
    color: #000000;
    font-size: 15px;
}

#btnclear:hover {
    background-color: #a8a8a8;
}

.divnut {
    margin: 45px 45px;
}


.tab-container {
    margin-bottom: 20px;
}

.tab-button {
    font-size: 18px;
    padding: 16px 28px;
    background-color: #ddd;
    border: none;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    transition: background-color 0.3s ease;
}

.tab-button.active {
    background-color: #4caf50;
    color: #fff;
}

.tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 0 0 5px 5px;
    background-color: #fff;
}

.tab-content.active {
    display: block;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn {
    margin-bottom: 25px;
    border: #00a00d solid 1px; 
    font-weight: 600;
    font-size: 15px;
    background-color: #00ca11;
}

.btn:hover {
    background-color: #007c0a;
}

h3 {
    margin-top: 20px;
}

#result {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #f8f9fa;
    color: #495057;
    resize: none;
}

/* Ẩn input type file */
input[type="file"] {
    display: none;
}

/* Tạo kiểu cho nút dạng button */
.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 25px;
    margin-right: 10px;
    border: #00a00d solid 1px;
    font-weight: 600;
    font-size: 15px;
    background-color: #00ca11;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

/* Hover effect */
.custom-file-upload:hover {
    background-color: #007c0a;
}

.input-cb {
    width: 400px;
    height: 30px;
    font-size: 18px;
}
